body
  background-color: #000
.display
  margin-top: 50px
  margin-left: auto
  margin-right: auto
  background-color: white
  width: 800px
  height: 800px
  overflow: hidden
  padding: 0
.dungeon
  background-color: #8aa0ff
  position: relative
  line-height: 0.5
.grid-square
  display: inline-block
  vertical-align: top
  height: 10px
  width: 10px
.grid-square-empty
  background-color: #fff
.grid-square-wall
  background-color: #c4ccd3
.grid-square-hero
  background-color: #001fff
.grid-square-health
  background-color: #25ff00
.grid-square-weapon
  background-color: #fffc00
.grid-square-portal
  background-color: #8628ff
.grid-square-enemy
  background-color: #ff0a00

.dungeon
  margin-left: 15px